.btn-submit:hover {
    background-color: rgb(255, 123, 113) !important;
}
h2 {
    font-weight: 500;
}
a {
    text-decoration: none !important;
}
.navbar> a:hover {
    text-decoration: none !important;
}
a:hover{
    text-decoration: underline !important;
    color: inherit;
}

/*DESKTOP DIMENSION*/

@media all and (max-width: 1920px) {
    
    /*
    ------------START OF FIRST SECTION------------
    */
    
    .contactUs-first-section {
        background-color: #252525;
        color: white;
        height: 48vh;
        display: grid;
        place-items: center;
        /* justify-content: center; */
        text-align: center;
    }
    
    .register-now-content > p{
        margin-top: 12px;
        font-size: 20px;
    }

    .contactUs-button-div button {
        width: 150px;
        height: 50px;
        margin-top: -5.5em;
        border-width: 0px !important;
        border: none !important;
        align-items: center;
        text-align: center;
    }
    
    /*
    ------------END OF FIRST SECTION------------
    */
    
    /*
    ------------START OF SECOND SECTION------------
    */

    .contactUs-second-section {
        background-color: #db3333;
        color: white;
        height: 50vh;
        display: flex;    
    }
    
    .follow-us-content {
        width: 25%;
        margin-top: 6%;
        margin-left: 20%;
        justify-content: start !important;
        align-items: start !important;
        text-align: start !important;

    }
    .follow-us-content > h2 {
        font-size: 48px !important;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .follow-us-content > p {
        font-size: 24px;
    }
    .follow-us-content a {
        font-weight: 700 !important;
        text-decoration: underline !important;
    }
    .follow-us > img {
        margin-top: 2em;
        margin-left: 12em;
    }
     /*
    ------------END OF SECOND SECTION------------
    */
    
}


@media all and (max-width: 1440px) {
     /*
    ------------START OF FIRST SECTION------------
    */
    
    .contactUs-first-section {
        background-color: #252525;
        color: white;
        height: 50vh;
        display: grid;
        place-items: center;
        text-align: center;
    }
    
    .register-now-content > h2 {
        font-size: 42px !important;
        font-weight: 700;
    }
    .register-now-content > p{
        margin-top: 12px;
        font-size: 18px;
    }

    .contactUs-button-div button {
        width: 150px;
        height: 55px;
        margin-top: -4em !important;
        border-width: 0px !important;
        border: none !important;
        align-items: center;
        text-align: center;
    }
    
    /*
    ------------END OF FIRST SECTION------------
    */
    
    /*
    ------------START OF SECOND SECTION------------
    */

    .contactUs-second-section {
        background-color: #db3333;
        color: white;
        height: 45vh;
        display: flex;
    
    }
    .follow-us-content {
        width: 25%;
        margin-top: 7%;
        margin-left: 20%;
        justify-content: start !important;
        align-items: start !important;
        text-align: start !important;
    }
    .follow-us-content > h2 {
        font-size: 42px !important;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .follow-us-content > p {
        font-size: 18px;
        width: auto;
        word-wrap:normal;
    }
    .follow-us-content a {
        font-weight: 700;
        text-decoration: underline !important;
    }
    .follow-us > img {
        margin-top: 2em;
        margin-left: 8em;
    }
     /*
    ------------END OF SECOND SECTION------------
    */
}

@media all and (max-width: 1024px) {
    
     /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 45vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .register-now-content > h2 {
        font-size: 36px !important;
    }
    
    .register-now-content > p {
        font-size: 15px;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        width: 150px;
        height: 50px;
        margin-top: -3em !important;
        border-width: 0px !important;
        border: none !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

    /*
    ------------START OF FORM SECTION------------
    */

    /*
    ---------START OF SECOND SECTION---------
    */
    .contactUs-second-section {
        background-color: #db3333;
        color: white;
        height: 45vh;
        display: flex;
    }

    .follow-us-content {
        width: 28%;
        margin-top: 11%;
        margin-left: 20%;
        justify-content: start !important;
        align-items: start !important;
        text-align: start !important;
    }
    .follow-us-content > h2 {
        font-size: 35px !important;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .follow-us-content > p {
        font-size: 14px;
        width: auto;
    }
    .follow-us-content a {
        font-weight: 700;
        text-decoration: underline !important;
    }
    .follow-us > img {
        margin-top: 2em;
        margin-left: 7em;
    }
    /*
    ---------END OF SECOND SECTION---------
    */
    .subhead > h2{
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 1.5em;
        font-size: 36px !important;
    }
    
    .button-div > button{
        width: 150px !important;
        height: 50px;
    }
    form {
        margin-top: 1.5em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 2em;
    }   
    /*
    ------------END OF FORM SECTION------------
    */
}

/*IPAD*/
/*
    <H2>-FONT SIZE: 33px
    <P> - FONT SIZE: 17px
*/
@media all and (max-width: 810px) and (max-height:1080px) {
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 165px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }

    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 32vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }   

    .register-now-content > h2 {
        font-size: 38px !important;
        width: inherit;
        margin: 8px;
        padding: 12px;
        text-align: center
    }
    
    .register-now-content > p {
        font-size: 20px;
        text-align: center;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 19px !important;
        width: 140px !important;
        height: 50px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */


    /*
    ---------START OF SECOND SECTION---------
    */
    .contactUs-second-section {
        background-color: #db3333;
        color: white;
        height: 36vh;
        display: flex;
    }

    .contactUs-second-section > img {
        height: 22em;
        margin: 18px;
        margin-top: 36px;
    }

    .follow-us-content {
        text-align: left !important;
        margin: 2em;
        margin-right: 0;
        margin-top: 10%;
        width: 45%;
        justify-content: center !important;
        align-items: center !important;
    }
    .follow-us-content > h2 {
        font-size: 38px !important;
        margin: 18px;
        font-weight: 700;
        /* width: inherit; */
    }
    .follow-us-content > p {
        font-size: 20px;
        margin: 8px;
        padding: 10px;
        /* width: inherit; */
    }
   
    /*
    ---------END OF SECOND SECTION---------
    */

    /*
    ------------START OF FORM SECTION------------
    */
    .gym-form-section {
        height: 45vh;
        display: block;
        width: inherit;
    }
    
    .subhead > h2{
        margin: 8px !important;
        padding: 12px;
        font-size: 30px !important;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }
    .button-div{
        width: inherit;
        margin: 4px;
        padding: 12px;
    }
    .button-div > button{
        width: 125px !important;
        height: 50px !important;
    }
    label {
        font-size: 16px;
    }
 
    /*
    ------------END OF FORM SECTION------------
    */
    
}

@media all and (max-width: 493px) {
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 155px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }
    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 45vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .register-now-content > h2 {
        font-size: 24px !important;
    }
    
    .register-now-content > p {
        font-size: 15px;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 18px !important;
        width: 120px !important;
        height: 45px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

     /*
    ---------START OF SECOND SECTION---------
    */
    .contactUs-second-section {
        color: black;
        height: 45vh;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .follow-us-content {
        width: 35%;
        margin-top: 7%;
        margin-left: 20%;
        justify-content: center!important;
        align-items: center !important;
        text-align: center !important;
    }

    .follow-us-content > h2 {
        font-size: 28px !important;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .follow-us-content > p {
        font-size: 15px;
        width: auto;
    }
    .follow-us-content a {
        font-weight: 700;
        text-decoration: underline;
    }
    .follow-us > img {
        margin-top: 1em;
        margin-left: 2.5em;
    }
    /*
    ---------END OF SECOND SECTION---------
    */

    /*
    ------------START OF FORM SECTION------------
    */

    .subhead > h2{
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px !important;
    }
    
    .button-div > button{
        width: 150px !important;
        height: 50px;
    }
    form {
        margin-top: 1.5em;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 2em;
    }   
    /*
    ------------END OF FORM SECTION------------
    */
}

@media all and (max-width: 425px) {
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 155px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }
    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 45vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }   

    .register-now-content > h2 {
        font-size: 24px !important;
        width: 75%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .register-now-content > p {
        font-size: 15px;
        text-align: center;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 18px !important;
        width: 120px !important;
        height: 45px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

     /*
    ---------START OF SECOND SECTION---------
    */
    .contactUs-second-section {
        color: white;
        height: 79vh;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .follow-us-content {
        width: 60%;
        margin-top: 3em;
        margin-left: 20%;
        justify-content: center!important;
        align-items: center !important;
        text-align: center !important;
    }

    .follow-us-content > h2 {
        font-size: 28px !important;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .follow-us-content > p {
        font-size: 15px;
        width: 95%;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
        align-items: center;
        text-align: center !important;
        justify-content: center !important;
    }
    .follow-us-content a {
        font-weight: 700;
        text-decoration: underline;
    }
    .follow-us > img {
        height: 293px;
        margin-top: 6px;
        margin-left: 5em;
        margin-right: 5em;
    }
    /*
    ---------END OF SECOND SECTION---------
    */
}

/*IPHONE 12/13 PRO MAX*/
/*
    <H2>-FONT SIZE: 33px
    <P> - FONT SIZE: 17px
*/
/* @media all and (max-width: 428px) and (max-height: 926px) */
@media all and (max-width: 428px) and (max-height: 926px){
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 165px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }
    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 32vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }   

    .register-now-content > h2 {
        font-size: 33px !important;
        width: inherit;
        margin: 8px;
        padding: 12px;
    }
    
    .register-now-content > p {
        font-size: 17px;
        text-align: center;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 17px !important;
        width: 135px !important;
        height: 50px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

    /*
    ------------START OF SECOND SECTION------------
    */
    .contactUs-second-section {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        color: white;
        height: 54vh !important;
    }

    .contactUs-second-section > img {
        height: 18em;
        margin-top: 33px;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 0;
    }
    .follow-us-content {
        margin: 0;
        margin-top: 18px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: inherit;
    }
    .follow-us-content > h2 {
        font-weight: 700;
        width: inherit;
        margin: 0;
        margin: 8px;
        padding: 12px;
        text-align: center;
        font-size: 33px !important;

    }
    .follow-us-content > p {
        width: inherit;
        text-align: center;
        margin: 8px;
        padding: 10px;
        font-size: 17px !important;
        font-weight: 300;
    }
    /*
    ------------END OF SECOND SECTION------------
    */
    /*
    ------------START OF FORM SECTION------------
    */
    .gym-form-section {
        height: 68vh;
        display: block;
        width: inherit;
    }
    
    .subhead > h2{
        margin: 8px !important;
        padding: 12px;
        font-size: 30px !important;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }
    .button-div{
        width: inherit;
        margin: 4px;
        padding: 12px;
    }
    .button-div > button{
        width: 125px !important;
        height: 50px !important;
    }
    label {
        font-size: 14px;
    }
 
    /*
    ------------END OF FORM SECTION------------
    */

}


/*IPHONE 12/13 MINI SCREEN*/
/*
    <H2>-FONT SIZE: 30px
    <P> - FONT SIZE: 15px
*/

/* @media all and (max-width:375px) and (max-height: 812px) */
@media all and (max-width:375px) and (max-height: 812px){
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 155px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }
    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        height: 34vh;
    }   

    .register-now-content > h2 {
        font-size: 30px !important;
        width: inherit;
        margin: 8px;
        padding: 12px;
    }
    
    .register-now-content > p {
        font-size: 15px;
        text-align: center;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 17px !important;
        width: 145px !important;
        height: 48px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

    /*
    ------------START OF SECOND SECTION------------
    */
    .contactUs-second-section {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        color: #ffffff;
        height: 54vh !important;
    }

    .contactUs-second-section > img {
        height: 16em;
        margin-top: 32px;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 0;
    }
    .follow-us-content {
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: inherit;
    }
    .follow-us-content > h2 {
        font-weight: 700;
        font-size: 32px !important;
        width: inherit;
        margin: 8px;
        padding: 12px;
        text-align: center;

    }
    .follow-us-content > p {
        margin: 8px;
        padding: 10px;
        font-size: 15px !important;
        font-weight: 300;
        width: inherit;
    }
    /*
    ------------END OF SECOND SECTION------------
    */

    /*
    ------------START OF FORM SECTION------------
    */
    .gym-form-section {
        height: 74vh;
        display: block;
        width: inherit;
    }
    
    .subhead > h2{
        margin: 8px !important;
        font-size: 30px !important;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }
    
    .button-div {
        width: inherit;
        margin: 4px;
        padding: 12px;
    }
    .button-div > button{
        margin-top: 6em;
        width: 145px !important;
        height: 50px !important;
    }
    label {
        font-size: 14px;
    }
 
    /*
    ------------END OF FORM SECTION------------
    */
}

/*IPHONE SE 2ND GEN SCREEN*/
/*
    <H2>-FONT SIZE: 28px
    <P> - FONT SIZE: 15px
*/

/* @media all and (max-width:375px) and (max-height: 667px) */
@media all and (max-width:375px) and (max-height: 667px) {
    html, body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .section {
        margin: 0;
        display: block;
    }

     /*
    ------------NAVBAR SECTION------------
    */
    .nav-header {
        height: 154px !important;
    }
    .navbar {
        position: relative;
        height: inherit;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 2em;
        display: block;
    }
    .navbar-brand > img {
        width: 100px !important;
        height: auto;
    }
    /*
    ---------START OF FIRST SECTION---------
    */
    .contactUs-first-section {
        display: grid;
        height: 38vh;
        place-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }   

    .register-now-content > h2 {
        font-size: 28px !important;
        width: inherit;
        margin: 8px;
        padding: 12px;
    }
    
    .register-now-content > p {
        font-size: 15px;
        text-align: center;
        margin-top: 1em;
    }
    .contactUs-button-div button {
        border-width: 0px !important;
        border: none !important;
        font-size: 17px !important;
        width: 145px !important;
        height: 48px !important;
        align-items: center;
        text-align: center;
    }
     /*
    ---------END OF FIRST SECTION---------
    */

    /*
    ------------START OF SECOND SECTION------------
    */
    .contactUs-second-section {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        height: 64vh !important;
        color: white;
    }

    .contactUs-second-section > img {
        height: 15em;
        margin-top: 33px;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 0;
    }
    .follow-us-content {
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: inherit;
    }
    .follow-us-content > h2 {
        font-weight: 700;
        text-align: center;
        width: inherit;
        font-size: 28px;
        margin: 8px;
        padding: 12px;
    }
    .follow-us-content > p {
        margin: 8px;
        padding: 10px;
        font-size: 15px !important;
        font-weight: 300;
        width: inherit;
    }
    /*
    ------------END OF SECOND SECTION------------
    */

    /*
    ------------START OF FORM SECTION------------
    */
    .gym-form-section {
        height: 90vh;
        display: block;
        width: inherit;
    }
    
    .subhead > h2{
        margin: 8px !important;
        font-size: 28px !important;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }
    .button-div{
        width: inherit;
        margin: 4px;
        padding: 12px;
    }
    
    .button-div > button{
        width: 125px !important;
        height: 50px !important;
        margin-top: 6em;
    }
 
    label {
        font-size: 14px;
    }
    /*
    ------------END OF FORM SECTION------------
    */  
}