.btn-submit:hover {
    background-color: rgb(255, 123, 113) !important;
}
h2 {
    font-weight: 500;
}
/*
NAVBAR ELEMENTS
*/
.navbar-nav{
    text-transform: uppercase;
    
    font-weight:600;
}
.navbar-brand > img{
    border-radius: 50%;
}

/*
---------START OF FIRST SECTION---------
*/

/*DESKTOP DIMENSION*/
@media screen and (max-width: 1920px) {
    .section {
        display: flex;
        margin: 0;
    }
     /*
    ------------START OF FIRST SECTION------------
    */
    .first-section{
        display: flex;
        position: relative;
        text-align: center;
        color: white;
        max-height: 100vh;
    }
    .first-section h2 {
        font-weight:800;
        text-align: center;
        margin: 1.5em;
        margin-bottom: 24px;
        padding: 6px;
    }
    .first-section >  p {
        text-align: center;
        font-weight: 400;
        margin: 6px;
        padding: 12px;
    }
    .button-div {
        margin: 2.5em;
    }
    .button-div button{
        width: 150px;
        height: 50px;
        margin: 14px;
        justify-content: center;
    }
    
    .centered-text{
        max-height: 200vh;
        width: 100%;
        background: linear-gradient(
            rgba(20,20,20, .5), 
            rgba(20, 20, 20, 0.829)),
            url('../../images/first-section-bkg.jpg');
    }
    .button-div {
        display: flex;
        justify-content: center;
    }
    /*
    ------------END OF FIRST SECTION------------
    */


    /*
    ---------START OF SECOND SECTION---------
    */
    .second-section{
        background-color: #EAEAEA;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        height: 55vh;
    }
    #content-second-section {
        margin: 1em;
    }
    #content-second-section  h2{
        font-weight: 700;
        margin: 12px;
        padding: .5em;
    }   
    
    #content-second-section > p{
        font-size: 22px;
        width:80%;
        text-align: justify;
        word-wrap: break-word;
        float: left;
        margin: 14px;       
        padding: 1em;
    }
    .second-section >  img {
        width: 85%;
        height: inherit;
        float: right;
    }
    /*
    ------------END OF SECOND SECTION------------
    */

    /*
    ---------START OF THIRD SECTION---------
    */
    .third-section {
        background-color: #db3333;
        color: white;
        margin: 0;
        height: 55vh;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #content-third-section {
        margin-left: 5em;
        padding: 12px;
    }
    #content-third-section > h2 {
        font-weight: 700;
    }
    #content-third-section > p {
        font-size: 22px;
        width: 70%;
        
    }
    .third-section > img {
        width: 100%;
        height: inherit;
        float: left;
    }
    

    /*
    ------------END OF THIRD SECTION------------
    */

    /*
    ---------START OF FOURTH SECTION---------
    */
    .fourth-section{
        margin: 0;
        margin-top: 1em;
        padding: 0px;
        background-color: #EAEAEA;
    }
    #content-fourth-section {
        margin-top: 5%;
        margin-left: 2em;
        padding: 4px;
    }
    #content-fourth-section > p {
        margin-top: 4em;
        font-size: 22px;
        width: 75%;
    }
    .fourth-section > img {
        width: 80%;
        height: 650px;
    }
    /*END OF FOURTH SECTION*/
}

/*
------------DESKTOP SCREEN SIZE------------
*/
@media screen and (max-width: 1440px) {
    
    .section {
        display: flex;
        margin: 0;
    }
    /*
    ------------START OF FIRST SECTION------------
    */
    .first-section{
        display: flex;
        position: relative;
        text-align: center;
        color: white;
        max-height: 100vh;
    }
    .first-section > h2 {
        font-weight: 500;
        text-align: center;
        margin: 4em;
        margin-bottom: 8px;
        padding: 6px;
    }
    .first-section > p {
        text-align: center;
        font-weight: 400;
        margin: 4px;
        padding: 12px;
    }
    .button-div {
        margin: 2.5em;
    }
    .button-div button{
        width: 150px;
        height: 50px;
        padding: 4px;
        justify-content: center;
    }
    
    .centered-text{
        max-height: 200vh;
        width: 100%;
        background: linear-gradient(
            rgba(20,20,20, .5), 
            rgba(20,20,20, .5)),
            url('../../images/first-section-bkg.jpg');
    }
    /*
    ------------END OF FIRST SECTION------------
    */


     /*
    ------------START OF SECOND SECTION------------
    */
    .second-section {
        background-color: #EAEAEA;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        height: 55vh;
    }
    #content-second-section {
        margin: 1em;
    }
    #content-second-section h2 {
        font-weight: 700;
        margin: 8px;
        padding: .5em;
    }
    #content-second-section > p {
        font-size: 18px;
        width:80%;
        margin: 14px;       
        padding: 1em;
        text-align: justify;
        word-wrap: break-word;
        float: left;
    }
    .second-section > img {
        width: 100%;
        height: inherit !important;
    
    }

    /*
    ------------END OF SECOND SECTION------------
    */

    /*
    ------------START OF WRAPPER SECTION------------
    */
    .wrap-media-content{
        display: flex;
        flex-direction: row;
        border-color: black;
        text-align: center;
    }
     #healthy-life{
        flex: 1;
        position: relative;
    }
    #healthy-life h2 {
        position: absolute;
        left: 50px;
        top: 50px;
    }
    .subhead{
        font-weight: 500;
    }
    .wrap-paragraph-text {
        text-align: center;
        text-transform: none;
        font-size: 18px;
        margin: 18px;
        margin-left: 1.5em ;
        margin-right: 1.5rem;
        padding: 12px;
    }
    .gym-member-portrait{
        margin: 0;
        width: 100px;
        height: 50%;        
    }
    #bootcamp-saturday{
        background-color: thistle;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 4em;
        width: 100%;
        padding: 12px;
        height: 250px;
        text-transform: uppercase;
        font-size: 36px;
    }

    /*
    ------------END OF WRAPPER SECTION------------
    */

/*MAYBE MOBILE SCREEN RESOLUTION???*/
@media screen and (max-width: 360px) {
    .first-section > h2 {
        font-size: 20px;
    }
    .section > img {
        margin: 0;
        max-height: 50%;
        max-width: 25%;        
    }
    .second-section > img {
        margin: 0;
        max-width: 25%;
    }

    /*HEADINGS FONT*/
    #content-second-section  > h2{
        fontSize: 22px;
        font-weight: 600;
    }
    #content-third-section > h2 {
        font-size: 22px;
        font-weight: 600;
    }

    /*FOURTH SECTION*/
    .fourth-section{
        margin: 0;
        margin-top: 1em;
        padding: 0;
        
    }
    #content-fourth-section {
        justify-items: center;

    }
    #content-fourth-section > h2{
        font-size: 22px;

    }
    #content-fourth-section > p {
        font-size: 16px;
    }
    .fourth-section > img {
        width: 10%;
        height: 100px;
    }
}

    /*
    ------------START OF THIRD SECTION------------
    */
    .third-section{
        background-color: #db3333;
        color: white;
        margin: 0;
        height: 55vh;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .third-section > img  {
        width: 125% !important;
        height: inherit !important;
    }
    #content-third-section {
        margin-top: 5%;
        justify-content: center;
        padding: 10px;
    }
    #content-third-section > h2 {
        font-weight: 700;
    }
    #content-third-section > p {
        margin-top: 2.5em;
        font-size: 20px;
        font-weight: 400;
        width: 85%;
    }
    /*
    ------------END OF THIRD SECTION------------
    */

    /*
    ------------START OF FOURTH SECTION------------
    */
    .fourth-section{
        background-color: #EAEAEA;
        margin: 0;
        margin-top: 1em;
        height: 55vh;
    }
    #content-fourth-section {
        margin: 1em;
    }
    #content-fourth-section > h2 {
        font-weight: 700;
        margin: 10px;
        padding: .5em;
    }
    #content-fourth-section > p {
        font-size: 18px;
        width: 85%;
        margin: 14px;
        padding: 1em;
        text-align: justify;
        word-wrap: break-word;
        float: left;
    }
    .fourth-section > img {
        width: 105%;
        height: inherit !important; 
    }
    /*
    ------------END OF FOURTH SECTION------------
    */
    
}



