.btn-submit:hover {
    background-color: rgb(255, 95, 83) !important;
}

.first-section > h2 {
    text-align: center;
    margin: 1em;
    padding: 6px;
}
.first-section > p {
    text-align: center;
    margin: 3px;
    padding: 12px;
}

/***** SECOND SECTION ******/
.text-img {
    
}
 .second-section > h2{
    text-align: left;
    margin: 1em;
    padding: 10px 14px;
}    
.second-section > p{
    text-align: left;
    margin: 8px;
    padding: 10px 12px;
    text-align: justify;
    word-wrap: break-word;
}
/*FOOTER*/
